@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon104c.eot?q7qca2');
  src:  url('../fonts/icomoon104c.eot?q7qca2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon104c.ttf?q7qca2') format('truetype'),
    url('../fonts/icomoon104c.woff?q7qca2') format('woff'),
    url('../fonts/icomoon104c.svg?q7qca2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.constructIt-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.constructIt-profile:before {
  content: "\e93d";
}
.constructIt-people-22:before {
  content: "\e93e";
}
.constructIt-technology-13:before {
  content: "\e93f";
}
.constructIt-travel-1:before {
  content: "\e940";
}
.constructIt-arrows3:before {
  content: "\e941";
}
.constructIt-construction-3:before {
  content: "\e942";
}
.constructIt-people-13:before {
  content: "\e943";
}
.constructIt-wrench2:before {
  content: "\e944";
}
.constructIt-paint:before {
  content: "\e945";
}
.constructIt-construction-2:before {
  content: "\e946";
}
.constructIt-travel:before {
  content: "\e947";
}
.constructIt-signs-12:before {
  content: "\e948";
}
.constructIt-art:before {
  content: "\e949";
}
.constructIt-line:before {
  content: "\e94a";
}
.constructIt-signs2:before {
  content: "\e94b";
}
.constructIt-squares3:before {
  content: "\e94c";
}
.constructIt-interface3:before {
  content: "\e94d";
}
.constructIt-dates:before {
  content: "\e94e";
}
.constructIt-construction-1:before {
  content: "\e94f";
}
.constructIt-shovel:before {
  content: "\e950";
}
.constructIt-transport3:before {
  content: "\e951";
}
.constructIt-improvement:before {
  content: "\e952";
}
.constructIt-people3:before {
  content: "\e953";
}
.constructIt-construction:before {
  content: "\e954";
}
.constructIt-tools:before {
  content: "\e955";
}
.constructIt-tool3:before {
  content: "\e956";
}
.constructIt-shopping-bag-1:before {
  content: "\e957";
}
.constructIt-shopping-bag:before {
  content: "\e958";
}
.constructIt-technology3:before {
  content: "\e959";
}
.constructIt-location3:before {
  content: "\e95a";
}
.constructIt-multimedia2:before {
  content: "\e95b";
}
.constructIt-file:before {
  content: "\e900";
}
.constructIt-arrow:before {
  content: "\e901";
}
.constructIt-play:before {
  content: "\e902";
}
.constructIt-social-1:before {
  content: "\e904";
}
.constructIt-social:before {
  content: "\e905";
}
.constructIt-interface-1:before {
  content: "\e906";
}
.constructIt-link:before {
  content: "\e907";
}
.constructIt-arrows-2:before {
  content: "\e908";
}
.constructIt-interface:before {
  content: "\e909";
}
.constructIt-signs-1:before {
  content: "\e90a";
}
.constructIt-multimedia-1:before {
  content: "\e90b";
}
.constructIt-logo:before {
  content: "\e90c";
}
.constructIt-signs:before {
  content: "\e90d";
}
.constructIt-people-2:before {
  content: "\e90e";
}
.constructIt-folder:before {
  content: "\e90f";
}
.constructIt-arrows-1:before {
  content: "\e910";
}
.constructIt-multimedia:before {
  content: "\e911";
}
.constructIt-arrows:before {
  content: "\e912";
}
.constructIt-coins:before {
  content: "\e913";
}
.constructIt-tool:before {
  content: "\e914";
}
.constructIt-people-1:before {
  content: "\e915";
}
.constructIt-transport:before {
  content: "\e916";
}
.constructIt-people:before {
  content: "\e917";
}
.constructIt-vehicle:before {
  content: "\e918";
}
.constructIt-power:before {
  content: "\e919";
}
.constructIt-people-12:before {
  content: "\e91a";
}
.constructIt-people2:before {
  content: "\e91b";
}
.constructIt-arrows2:before {
  content: "\e91c";
}
.constructIt-interface-12:before {
  content: "\e91d";
}
.constructIt-squares:before {
  content: "\e91e";
}
.constructIt-home:before {
  content: "\e91f";
}
.constructIt-null-1:before {
  content: "\e920";
}
.constructIt-clock2:before {
  content: "\e921";
}
.constructIt-interface2:before {
  content: "\e922";
}
.constructIt-location:before {
  content: "\e923";
}
.constructIt-technology-12:before {
  content: "\e924";
}
.constructIt-technology:before {
  content: "\e925";
}
.constructIt-null:before {
  content: "\e926";
}
.constructIt-search:before {
  content: "\e927";
}
.constructIt-technology-1:before {
  content: "\e928";
}
.constructIt-placeholder:before {
  content: "\e929";
}
.constructIt-check:before {
  content: "\e92a";
}
.constructIt-location-1:before {
  content: "\e92b";
}
.constructIt-wrench:before {
  content: "\e92c";
}
.constructIt-flickr:before {
  content: "\e92d";
}
.constructIt-null2:before {
  content: "\e92e";
}
.constructIt-technology2:before {
  content: "\e92f";
}
.constructIt-clock-1:before {
  content: "\e930";
}
.constructIt-location2:before {
  content: "\e931";
}
.constructIt-circle:before {
  content: "\e932";
}
.constructIt-transport-1:before {
  content: "\e933";
}
.constructIt-tool-2:before {
  content: "\e934";
}
.constructIt-rim:before {
  content: "\e935";
}
.constructIt-car:before {
  content: "\e936";
}
.constructIt-transport2:before {
  content: "\e937";
}
.constructIt-mechanic:before {
  content: "\e938";
}
.constructIt-tool-1:before {
  content: "\e939";
}
.constructIt-shape:before {
  content: "\e93a";
}
.constructIt-tool2:before {
  content: "\e93b";
}
.constructIt-clock:before {
  content: "\e93c";
}
.constructIt-signs22:before {
  content: "\eb44";
}
.constructIt-squares2:before {
  content: "\eb45";
}
.constructIt-map-location:before {
  content: "\eb6e";
}
.constructIt-mark2:before {
  content: "\eb73";
}
.constructIt-map3:before {
  content: "\eb76";
}
.constructIt-tool4:before {
  content: "\eb7d";
}
.constructIt-buildings2:before {
  content: "\eb92";
}
.constructIt-arrows32:before {
  content: "\eb60";
}
.constructIt-arrows22:before {
  content: "\eb2d";
}
.constructIt-arrows4:before {
  content: "\eaef";
}
.constructIt-office:before {
  content: "\e903";
}
.constructIt-arrow-right2:before {
  content: "\ea3c";
}
.constructIt-arrow-left2:before {
  content: "\ea40";
}
