/*brand color: #05519d*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,600,700);
html,body{
	margin:0;
	padding:0;
	background-color:#fff;
	font-family:'Roboto';
	font-weight:400;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
	background-color:#f0f0f0;
	height:100% !important;
	box-sizing:border-box;
}
a,button{transition:.3s all;}
img{pointer-events:none}
/*custom css element*/
.label-hr{
	position:relative;
	overflow:hidden;
	color:#888;
}
.label-hr:after{
	content:'';
	border-bottom:thin solid #ccc;
	height:1px;
	width:100%;
	position:absolute;
	margin-top:10px;
	margin-left:5px;
}
.btn-gray{
	background-color:#999;
	color:#fff;
}
.btn-gray:hover,.btn-gray:active,.btn-gray:focus{background-color:#333; color:#fff;}
.hr_black{border-color:#000;}
.nomar{margin:0 !important}
.nopad{padding:0 !important}
.text-red{color:#e74c3c}
.text-green{color:#27ae60}
/*bootstrap class modification*/
.form-control{
	resize:none;
	outline:none;
	border-radius:0;
	transition:.2s;
	box-shadow:none;
	border:2px solid #ddd;
	height: auto;
}
.form-control:focus{
	border:2px solid #ddd;
	box-shadow:none;
	border-bottom-color:rgba(5, 82, 157,.5);
}
.input-group-addon{border-radius:0;border:2px solid #ddd;}
.btn{border-radius:0}
.panel,.panel-heading{
	border:none;
	border-radius:0px;
}
.panel{box-shadow:1px 1px 10px #ddd;}
.panel-heading,.panel-body{padding:15px}
.alert{border:none; border-radius:0;color: #fff}
.alert-success{background-color:#27ae60}
.alert-danger{background-color:#c0392b}
.alert-info{background-color:#2980b9}
.alert-warning{background-color:#f39c12}
.alert>.close{opacity:.8; outline:none}

/*header menu*/
.topbar{
	background-color:#2980b9;
	height:50px;
	position:fixed;
	top:0;
	width:100%;
}
.topbar>.logo{
	width:250px;
	overflow:hidden;
	background-color:#fff;
	height:50px !important;
	text-align:center;
	display:inline-block;
	transition:.5s;
}
.topbar>.logo.small{
	width:50px;
}
.topbar>.logo>a>img{
	/*margin-top:10px;*/
	max-height:100%;
	max-width: 100%;
}
.topbar>.toggle-btn{
	height:50px;
	vertical-align:top;
	background-color:transparent;
	outline:none;
	border:none;
	color:#fff;
	font-size:18px;
}
.topbar>.right-menu{
	list-style:none;
	padding:0;
	float:right;
}
.topbar>.right-menu>li{
	height:50px;
	display:inline-block;
	padding:16px 15px;
	color:#fff; 
	cursor:pointer;
	transition:.5s;
	vertical-align:middle;
}
.topbar>.right-menu>li:hover{background-color:#da4530;}
.topbar>.right-menu>li>a{color:#fff; text-decoration:none}
.topbar>.right-menu>li>a>img{
	width:30px;
	border-radius:50%;
	margin-right:7px;
	margin-top:-5px;
	vertical-align:-10px;
}
@media (max-width:768px){
	.topbar{height:100px}
	.topbar>.logo,
	.topbar>.logo.small{
		display:block;
		width:100%;
	}
}
/*main page*/
.main{
	width:100% !important;
	margin-top:50px;
	height:calc(100% - 50px) !important;
	overflow:hidden;
}
@media (max-width:768px){
	.main{
		margin-top:100px;
		height:calc(100% - 100px) !important;
	}
}

/*sidebar*/
.main>.sidebar{
	width:250px;
	height:100%;
	background-color:#202020;
	transition:.5s;
	float:left;
	overflow:scroll;
	overflow-x:hidden;
}
.main>.sidebar .user-details{
	padding:10px;
	background-color:#252525;
}
.main>.sidebar .user-details>p>img{
	display:inline-block;
	width:50px;
	height:50px;
	float:left;
	border-radius:50%;
	border:3px solid #888;
	margin-right:10px;
	vertical-align:middle;
	transition:.2s;
}
.main>.sidebar .user-details>.name>span:nth-child(2){
	display:block;
	font-size:10px;
	color:#ccc;
	margin-top:10px;
}
.main>.sidebar .user-details>.name{
	color:#fff;
	white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
/*sidebar menu*/
.main>.sidebar .menu-divider{
	display:block;
	color:#707070;
	font-size:12px;
	padding:10px 15px;
	text-transform:uppercase;
	font-weight:600;
}
.main>.sidebar .menu-item .has-sub{overflow: hidden;}
.main>.sidebar .menu-item,
.main>.sidebar .menu-item .has-sub>ul{
	list-style:none;
	padding:0;
	position:relative;
	cursor:pointer;
	background-color:#252525;
}
.main>.sidebar .menu-item .has-sub:before{
	content:'\f107';
	font-family:fontawesome;
	color:#f0f0f0;
	float:right;
	margin-top:15px;
	margin-right:10px;
	transition:.5s;
}
.main>.sidebar .menu-item .has-sub.show:before{content:'\f106'}
.main>.sidebar .menu-item>li>a>i:before{
	background-color:#333;
	padding:5px;
	width:25px !important;
	display:block;
	border-radius:2px;
}
.main>.sidebar .menu-item>li>a>span{margin-left:15px}
.main>.sidebar .menu-item>li>a,
.main>.sidebar .menu-item .has-sub>ul>li>a{
	padding:15px;
	color:#f0f0f0;
	display:block;
	text-decoration:none;
	transition:.5s;
	font-size:13px;
	white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.main>.sidebar .menu-item>li:hover{background-color:#303030}
.main>.sidebar .menu-item>li:hover>a{padding-left:20px}
.main>.sidebar .menu-item .has-sub>ul{display:none}
.main>.sidebar .menu-item .has-sub.show>ul{display:block}
.main>.sidebar .menu-item .has-sub>ul>li>a{
	border-left:thin solid #404040;
}
.main>.sidebar .menu-item .has-sub>ul>li{
	padding-left:26px;
	transition:.5s;
}
.main>.sidebar .menu-item .has-sub>ul>li:hover{background-color:#303030;}
.main>.sidebar .menu-item .has-sub>ul>li>a:hover{
	padding-left:20px;
	background-color:#303030;
}
.main>.sidebar .menu-item .has-sub>ul>li>a:before{
	content:'\f111';
	font-family:fontawesome;
	color:#404040;
	position:absolute;
	left:20px;
}
@media (max-width:768px){
	.main>.sidebar{width:0px;}
}

/*small menu*/
@media (min-width:769px){
	.main.small>.sidebar .user-details>.name>span{display:none;}
	.main.small>.sidebar:hover .user-details>.name>span{display:block;}
	.main.small>.sidebar .user-details>p>img{
		width:30px;
		height:30px;
		border-width:1px;
	}
	.main.small>.sidebar:hover .user-details>p>img{
		width:50px;
		height:50px;
		border-width:3px;
	}
	.main.small>.sidebar .menu-divider{display:none}
	.main.small>.sidebar:hover .menu-divider{display:block}
	.main.small>.sidebar{width:50px;}
	.main.small>.sidebar:hover{width:250px}
	.main.small>.content{margin-left:50px}
	
	.main.small>.sidebar .menu-item .has-sub:before{display:none;}
	.main.small>.sidebar:hover .menu-item .has-sub:before{display:inline-block;}
	.main.small>.sidebar .menu-item>li>a>span{display:none}
	.main.small>.sidebar:hover .menu-item>li>a>span{display:inline-block}
	.main.small>.sidebar .menu-item .has-sub.show>ul{display:none;}
	.main.small>.sidebar:hover .menu-item .has-sub.show>ul{display:block;}
}
@media (max-width:768px){	
	.main.small>.sidebar{width:250px;}
	.main.small>.content{margin-left:250px}
}
/*content*/
.main>.content{
	width:auto;
	height:100%;
	transition:.5s;
	margin-left:250px;
}
.main>.content .top{
	padding:5px 15px;
}
.main>.content .top>.page-title{
	margin:0;
	font-size:26px;
	display:inline-block;
	color:#666;
}
.main>.content .top>.breadcrumb{
	margin:0;
	display:inline-block;
	vertical-align:bottom;
	float:right;
	background-color:transparent;
	font-size:12px !important;
}
.main>.content .main-body{
	padding:15px;
}
@media (max-width:768px){
	.main>.content .top>.breadcrumb{
		display: block;
	    float: none;
	    background: #fff;
	}
	.main>.content{
		margin-left:0px;
		overflow-x:hidden;
		position:relative;
		width:100%;
		display:block;
	}
	.main>.content .overlay{
		z-index:2;
		display:block;
		position:fixed;
		top:100px;
		left:0px;
		right:0px;
		bottom:0px;
		width:0 !important;
		background-color:rgba(0,0,0,.5);
		transition:.5s;
	}
	.main.small>.content .overlay{
		left:250px;
		width:100% !important;
	}
}

/*select2*/
.select2-container{
    width:100% !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0;
    border:2px solid #ddd;
    height: 34px;
    padding-top: 2px;
}
.select2-selection__arrow{height: 34px;}